<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Confirmation of Content Details</title>
</head>
<body>
<h2>Confirmation of Content Details</h2>

<div>
    <p><strong>Confirmation of Content ID:</strong> <span th:text="${confirmationOfContent.confirmationOfContentId}"></span></p>
    <p><strong>Product ID:</strong> <span th:text="${confirmationOfContent.productId}"></span></p>
    <p><strong>Component ID:</strong> <span th:text="${confirmationOfContent.componentId}"></span></p>
    <p><strong>State:</strong> <span th:text="${confirmationOfContent.state}"></span></p>
    <p><strong>Block Hash:</strong> <span th:text="${confirmationOfContent.blockHash}"></span></p>
</div>

</body>
</html>
